<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prasad's Blogs</title>
    <link rel="stylesheet" href="main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital@1&display=swap" rel="stylesheet">
</head>
<body>
        <header>
            <div id="logoContainer">
                <!-- <img id="logo" src="../Images/hexa.png" alt=""> -->
                <h1>PD</h1>
            </div>
            <nav id="nav">
                <ul id="navList">
                    <li id="navEle">
                        <a href="index.html">Home</a>
                    </li>
                    <li id="navEle">
                        <a href="index.html#aboutMe">About Me</a>
                    </li>
                    <li id="navEle">
                        <a href="#">Blogs</a>
                    </li>
                    <li id="navEle">
                        <a href="projects.htm">Projects</a>
                    </li>
                    <li id="navEle">
                        <a href="index.html#getInTouch">Get In Touch</a>
                    </li>
                </ul>
            </nav>
        </header>
        <footer>
                <div id="footerContent">
                    <a href="https://github.com/prasad-dash" target="_blank" rel="noopener noreferrer"><img id="outLogo"
                            src="../Images/GitHub-Mark/GitHub-Mark/PNG/GitHub-Mark-Light-32px.png" alt=""></a>
                    <a href="https://twitter.com/PrasadDash6" target="_blank" rel="noopener noreferrer"><img id="outLogo"
                            src="../Images/twitter-logo-01282021/Twitter logo/PNG/2021 Twitter logo - white.png" height="32" width="32"
                            alt=""></a>
                    <a href="https://www.linkedin.com/in/prasad-dash-6361b6109/" target="_blank" rel="noopener noreferrer"><img
                            id="outLogo" src="../Images/LinkedIn-Logos/LinkedIn-Logos/LI-In-Bug.png" width="32" height="32" alt=""></a>
                    <a href="https://www.instagram.com/prasadrhdash/" target="_blank" rel="noopener noreferrer"><img id="outLogo"
                            src="../Images/Instagram-Roud-Logo-PNG.png" width="32" height="32" alt=""></a>
                </div>
            </footer>
</body>
</html>