<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital@1&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div id="logoContainer">
            <!-- <img id="logo" src="Images\Logo_prev_ui.png" alt=""> -->
            <h1> PD</h1>
        </div>
        <nav id="nav">
            <ul id="navList">
                <li id="navEle">
                    <a href="#">Home</a>
                </li>
                <li id="navEle">
                    <a href="#aboutMe">About Me</a>
                </li>
                <li id="navEle">
                    <a href="./blogs">Blogs</a>
                </li>
                <li id="navEle">
                    <a href="/projects">Projects</a>
                </li>
                <li id="navEle">
                    <a href="#getInTouch">Get In Touch</a>
                </li>
            </ul>
        </nav>
    </header> 
    <main>
        <section id="introPage">
            <div id="introContent">
                LEGACY OF ECSTASY
            </div>
        </section>
        <section id="aboutMe">
            <div id="aboutMeContent">
                    <img id="myImage" src="../Images/MyPhoto2.jpg" alt="">
                    <div id="aboutMeInnerContent">
                    <p>
                        I am Prasad Dash , a third year engineering student. I like learning new things and realising the grand interconnectionof human of nature.
                    </p>
                    <h3 id="downloadLink"><a href="PrasadDash.pdf" download="PrasadDashResume.pdf">Resume</a></h3>
                    </div>
                    </div>
            </div>
        </section>
        <section id="getInTouch">
            <div id="getInTouchContent">
                <h1> Drop a Hi</h1>
                <form  action="https://formsubmit.co/rrrdmnj@gmail.com" method="POST">
                    <div>
                        
                      <input type="text" name="name" id="senderName" placeholder="Enter Name" required>
                      <input type="text" name="_subject" id="subject" placeholder="Enter Subject" required>

                    </div>
                    <textarea id="msg" name="message" placeholder="Enter the message" required></textarea>
                <div>
                    <button type="submit" id="submitButton">Send</button>
                </div>
                </forxxm>
            </div>
        </section>
    </main>
    <footer>

        <div id="footerContent">
            <a href="https://github.com/prasad-dash" target="_blank" rel="noopener noreferrer" ><img id="outLogo" src="../Images/GitHub-Mark/GitHub-Mark/PNG/GitHub-Mark-Light-32px.png" alt=""></a>
            <a href="https://twitter.com/PrasadDash6" target="_blank" rel="noopener noreferrer"><img id="outLogo" src="../Images\twitter-logo-01282021\Twitter logo\PNG\2021 Twitter logo - white.png" height="32" width="32" alt=""></a>
            <a href="https://www.linkedin.com/in/prasad-dash-6361b6109/" target="_blank" rel="noopener noreferrer"><img id="outLogo" src="../Images/LinkedIn-Logos/LinkedIn-Logos/LI-In-Bug.png" width="32" height="32" alt=""></a>
            <a href="https://www.instagram.com/prasadrhdash/" target="_blank" rel="noopener noreferrer"><img id="outLogo" src="../Images\Instagram-Roud-Logo-PNG.png" width="32" height="32" alt=""></a>
        </div>
    </footer>

<script src="../app.js"></script>
</body>
</html>