<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Projects</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="project.css">
    </head>
<body>
    <header>
        <div id="logoContainer">
            <!-- <img id="logo" src="D:\SASS\Images\hexa.png" alt=""> -->

            <h1>PD</h1>
        </div>
        <nav id="nav">
            <ul id="navList">
                <li id="navEle">
                    <a href="home">Home</a>
                </li>
                <li id="navEle">
                    <a href="home#aboutMe">About Me</a>
                </li>
                <li id="navEle">
                    <a href="blogs">Blogs</a>
                </li>
                <li id="navEle">
                    <a href="#">Projects</a>
                </li>
                <li id="navEle">
                    <a href="home#getInTouch">Get In Touch</a>
                </li>
            </ul>
        </nav>
    </header>
    <div id="blogHeading">
        <h1>
            My Projects..
            <br>
        </h1>
    </div>
    <section id="projectList">
<div class="card-deck">
    <% for(let project of projectList) {%>
        <div class="card">
            <img src=<%=project.displayPicture %> class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    <%= project.title %>
                </h5>
                <p class="card-text">
                    <%= %>
                </p>
                <p class="card-text"><small class="text-muted">Published on <%= project.date %> </small></p>
            </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Read
                More</button>

            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <%= project.description %>
                    </div>
                </div>
            </div>
        </div>
        <% }%>
</div>
    </section>
    </main>
    <footer>
        
            <div id="footerContent">
                <a href="https://github.com/prasad-dash" target="_blank" rel="noopener noreferrer"><img id="outLogo"
                        src="Images/GitHub-Mark/GitHub-Mark/PNG/GitHub-Mark-Light-32px.png" alt=""></a>
                <a href="https://twitter.com/PrasadDash6" target="_blank" rel="noopener noreferrer"><img id="outLogo"
                        src="Images\twitter-logo-01282021\Twitter logo\PNG\2021 Twitter logo - white.png" height="32" width="32"
                        alt=""></a>
                <a href="https://www.linkedin.com/in/prasad-dash-6361b6109/" target="_blank" rel="noopener noreferrer"><img
                        id="outLogo" src="Images/LinkedIn-Logos/LinkedIn-Logos/LI-In-Bug.png" width="32" height="32" alt=""></a>
                <a href="https://www.instagram.com/prasadrhdash/" target="_blank" rel="noopener noreferrer"><img id="outLogo"
                        src="Images\Instagram-Roud-Logo-PNG.png" width="32" height="32" alt=""></a>
            </div>
        </footer>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>