body {
  background-color: black;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
section {
  padding: 0;
  margin: 0;
}
header {
  color: white;
  position: fixed;
  width: 99vw;
  font-family: "Overpass", sans-serif;
  display: flex;
  justify-content: space-between;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}
h1 {
  margin: 0;
}
#logo {
  width: 100px;
  height: 75px;
}
#logoContainer {
  display: inline;
}
#navList {
  list-style-type: none;
}
nav {
  display: inline;
}

#navEle {
  list-style: none;
  display: inline-block;
  padding: 10px;
}
#navEle :hover {
  padding: 5px;
  border: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
}
#navElement {
  margin: 0 0;
  font-family: "Overpass", sans-serif;
  font-size: 2em;
}
#introPage {
  background-image: url(https://upload.wikimedia.org/wikipedia/en/c/c8/Very_Black_screen.jpg);
  background-size: 99vw 100vh;
  width: 99vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#downloadLink {
  display: block;
  border: white solid 1px;
  border-radius: 5px;
  padding: 2px;
}
#aboutMe {
  background-image: url(https://upload.wikimedia.org/wikipedia/en/c/c8/Very_Black_screen.jpg);
  background-size: 99vw 100vh;
  width: 99vw;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#aboutMeContent {
  display: grid;
  border-style: solid;
  border-color: white;
  border-radius: 30px;
  box-shadow: 0 0 10px white;
  grid-template-columns: 1fr 3fr;
  width: 70vw;
}
#myImage {
  width: 20vw;
  height: 30vw;
  border-radius: 30px;
  grid-column: 1/2;
  padding: 2px;
}
#aboutMeInnerContent {
  display: flex;
  flex-direction: column;
  grid-column: 2/3;
  text-align: justify;
  align-items: center;
  justify-content: center;
  padding: 3px;
}
#getInTouch {
  background-image: url(https://upload.wikimedia.org/wikipedia/en/c/c8/Very_Black_screen.jpg);
  background-size: 99vw 100vh;
  width: 99vw;
  height: 50vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#getInTouchContent {
  border: white;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 50vh;
}
#footerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer {
  display: flex;
  background-image: url(https://upload.wikimedia.org/wikipedia/en/c/c8/Very_Black_screen.jpg);
  background-size: 99vw 100vh;
  width: 99vw;
  height: 10vh;
  color: wheat;
  align-items: center;
  justify-content: center;
}
#outLogo {
  padding: 5px;
  width: 28px;
  height: 28px;
}
#outLogo:hover {
  border: white;
  border-width: 1px;
  box-shadow: 0 0 2px white;
  border-radius: 30%;
}
#introContent {
  display: flex;
  color: white;
  font-size: 6em;
  width: 70vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Overpass", sans-serif;
  text-shadow: 0 0 7px #fff, 0 0 15px #fff, 0 0 5px #fff,
    0 0 42px rgb(1, 25, 56), 0 0 82px rgb(76, 133, 207), 0 0 92px rgb(1, 25, 56),
    0 0 102px rgb(1, 25, 56), 0 0 151px rgb(14, 119, 67), 0 0 151px #0fa;
}

input,
button,
textarea {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
input,
button,
textarea {
  color: white;
  border: solid white 1px;
  border-radius: 10px;
  margin: 10px;
  font-family: "Overpass", sans-serif;
}
#msg {
  height: 30vh;
  width: 60vw;
}
.thankYou {
  transition: transform 0.8s;
  /* transform-style: preserve-3d; */
  transform: rotateY(180deg);
  font-size: 3em;
  font-family: "Overpass", sans-serif;
  text-shadow: 0 0 7px #fff, 0 0 15px #fff, 0 0 5px #fff,
    0 0 42px rgb(1, 25, 56), 0 0 82px rgb(76, 133, 207), 0 0 92px rgb(1, 25, 56);
  transform: rotateY(180deg);
}
#thankYouText {
  transform: rotateY(180deg);
}
#submitButton:hover {
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  #introContent {
    font-size: 3em;
  }
  header {
    font-size: 0.85em;
  }
  #msg {
    height: 20vh;
  }
  #aboutMeContent {
    font-size: small;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #myImage {
    width: 70vw;
    height: 30vw;
    border-radius: 30px;
    padding: 2px;
  }
}
@media only screen and (max-width: 350px) {
  #introContent {
    font-size: 1em;
  }
  header {
    font-size: 0.5em;
    height: 7vh;
  }
  #msg {
    height: 20vh;
  }
  #aboutMeContent {
    font-size: 0.75em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  #myImage {
    width: 70vw;
    height: 47vw;
    border-radius: 30px;
    padding: 2px;
  }
  #getInTouch {
    background-image: url(https://upload.wikimedia.org/wikipedia/en/c/c8/Very_Black_screen.jpg);
    background-size: 99vw 100vh;
    width: 99vw;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  #getInTouchContent {
    height: 60vh;
  }
}
